<!DOCTYPE html>
<html lang="en">

<head>
  <title>Login V14</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="css/util.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <!--===============================================================================================-->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Casino</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addreading">Add Reading</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/addmachine" active>Add Machine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <li Class="pr-2"><span class="fa fa-user"></span> Kuldeep</li>|
        <li Class="pl-2"><a href="#" onclick="logout();"><span class="fa fa-sign-out"></span>Logout</a></li>
      </ul>
    </div>
  </nav>


  <div class="limiter" id="signup">
    <div class="container-login100">

      <div class="wrap-login100 " style="width: 100%;">
        <div class="bg-primary p-t-10 p-l-15 p-b-10 text-light">
          <h3>Dasboard</h3>
        </div>
        <div class="p-l-85 p-r-85 p-t-15 p-b-15">
          <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>Machine No.</th>
                <th>Balance DateWise (Today)</th>
                <th>Balance DateWise(Yesterday)</th>
                <th>Balance DateWise (Day Before Yesterday)</th>
                <th>Balance Total(Machine Wise)</th>

              </tr>
            </thead>
            <tbody id='dashTbody'>
              <!-- <tr>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
                <td>1000</td>
                
            </tr>
            <tr>
                <td>Garrett Winters</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>63</td>
                <td>1000</td>
                
            </tr>
            <tr>
                <td>Ashton Cox</td>
                <td>Junior Technical Author</td>
                <td>San Francisco</td>
                <td>66</td>
                <td>1000</td>
                
            </tr>
            <tr>
                <td>Cedric Kelly</td>
                <td>Senior Javascript Developer</td>
                <td>Edinburgh</td>
                <td>22</td>
                <td>1000</td>
                
            </tr>
            <tr>
                <td>Airi Satou</td>
                <td>Accountant</td>
                <td>Tokyo</td>
                <td>33</td>
                <td>1000</td>
            </tr> -->


            </tbody>
            <tfoot>
              <tr>

                <th colspan="4" class="text-right">Total</th>
                <th id="mainTotal">5000</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="p-r-85 p-b-10 text-right"> <button type="button" class="btn btn-info"><i class="fa fa-print"
              aria-hidden="true"></i>Print</button></div>
      </div>
    </div>
  </div>


  <!--===============================================================================================-->
  <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/bootstrap/js/popper.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/daterangepicker/moment.min.js"></script>
  <script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="js/main.js"></script>
  <script src="js/utility.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="js/login.js"></script>
  <script>
    $(document).ready(function () {
      debugger;
      header = { 'authorization': 'Bearer ' + getCookie('access_token') }
      _dashsuccess = function (dashRes) {
        var mId = new Array();
            var balTotal = 0;
            var mainTotal = 0;
            var tbody = "";
            var dateArray = new Array();
            $today = new Date();
            $yesterday = new Date($today);
            $dbyesterday = new Date($today);
            $yesterday.setDate($today.getDate() - 1);
            $dbyesterday.setDate($today.getDate() - 2);
            var counter = 0;
            var counterinserttime = 0;
            dateArray.push($today.getFullYear()+"-"+($today.getMonth() + 1)+"-"+$today.getDate());
            dateArray.push($yesterday.getFullYear()+"-"+($yesterday.getMonth() + 1)+"-"+$yesterday.getDate());
            dateArray.push($dbyesterday.getFullYear()+"-"+($dbyesterday.getMonth() + 1)+"-"+$dbyesterday.getDate());
            debugger;
            dashRes.forEach(function (rest) {
                if (!mId.includes(rest._id.mId))
                    mId.push(rest._id.mId)
            });
            console.log(dashRes);
            mId.forEach(function (data) {
                tbody += "<tr>";
                tbody += "<td>" + data + "</td>";
                for (j = 0; j < dateArray.length; j++) {
                    for (i = 0; i < dashRes.length; i++) {
                        if (data == dashRes[i]._id.mId) {
                            var temp = dashRes[i]._id.dateTime.split('T')[0];
                            if (dateArray[j] == temp) {
                                counter = 1;
                                tbody += "<td>" + dashRes[i].sumtotal + "</td>";
                                balTotal = balTotal + parseInt(dashRes[i].sumtotal);
                            }
                        }
                    }
                    if (counter == 0) {
                        tbody += "<td>0</td>";
                        balTotal = balTotal + 0;
                    }

                    counter = 0;
                };
                tbody += "<td>" + balTotal+ "</td></tr>";
                mainTotal=mainTotal+balTotal;
                balTotal=0;
            }); 
            $('#dashTbody').html(tbody);
            $('#mainTotal').html(mainTotal);
      }
      _dasherror = function (dasherror) {
        console.log(dasherror);

      }
      callAjaxJsonGet('GET', '/productDash', '', _dashsuccess, _dasherror, false, header);
    });
    $(function () {
      $('input[name="datetime"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        timePicker: true,
        locale: {
          format: 'MM/DD/YYYY hh:mm A'
        }
      });
    })
  </script>

</body>

</html>